{% extends "index.html" %}
{% load static %}
{% block title %}BBcrm{% endblock title %}

{% block content %}
<link href="{% static 'deals/css/deals.css'%}" rel="stylesheet">
<script src="{% static 'deals/js/deals.js' %}"></script>
<script src="{% static 'deals/js/tailwind.config.js' %}"></script>

<a class="button btn btn-primary absolute right-0 bottom-0 mb-4 mr-8" href="#popup1">Открыть сделку</a>

<form id="search-form">
    <input type="text" class="flex justify-between items-center mt-4 mr-4 border p-2" id="search-input" placeholder="Поиск по заголовку">
</form>

<form id="delete-selected-form" method="post" action="{% url 'deal:delete_selected_deals' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger absolute right-0 top-24 mr-4" id="delete-selected-button">Удалить выбранное</button>
    <table class="table-fill mt-4">      
        <thead>
            <tr>
                <th class="text-left">Select</th>
                <th class="text-left">Label</th>
                <th class="text-left">Message</th>
                <th class="text-left">End date</th>
                <th class="text-left">Date</th>
                <th class="text-left">Status</th>
                <th class="text-left">Source</th>
                <th class="text-left">field-1</th>
                <th class="text-left">field-2</th>
            </tr>
        </thead>    
        <tbody class="table-hover">
            {% for deal in deals %}
            <tr>
                <td class="text-left w-1">
                    <input type="checkbox" name="selected_deals" value="{{ deal.id }}">
                </td>
                <td class="text-left" onclick="location.href='#popup2{{ deal.id }}'; return false;">{{ deal.deal_label }}</td>
                <td class="text-left" onclick="location.href='#popup2{{ deal.id }}'; return false;">{{ deal.deal_message }}</td>
                <td class="text-left" onclick="location.href='#popup2{{ deal.id }}'; return false;">{{ deal.end_date }}</td>
                <td class="text-left" onclick="location.href='#popup2{{ deal.id }}'; return false;">{{ deal.created_at }}</td>
                <td class="text-left" onclick="location.href='#popup2{{ deal.id }}'; return false;">{{ deal.status }}</td>
                <td class="text-left" onclick="location.href='#popup2{{ deal.id }}'; return false;">{{ deal.source }}</td>
                <td class="text-left" onclick="location.href='#popup2{{ deal.id }}'; return false;">{{ deal.custom_field_1 }}</td>
                <td class="text-left" onclick="location.href='#popup2{{ deal.id }}'; return false;">{{ deal.custom_field_2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<div id="popup1" class="overlay">
    <div class="popup">
      <form method="post">
          {% csrf_token %}
          <br>
            <input type="text" placeholder="Name" class="form-control" name="deal_label" value="{{ deal.deal_label }}"><br>
            <textarea placeholder="Message" class="form-control" name="deal_message">{{ deal_message }}</textarea><br>
            <input type="date" class="form-control" name="end_date" value="{{ deal.end_date|date:'Y-m-d' }}"><br>
            <input type="date" class="form-control" name="created_at" value="{{ deal.created_at|date:'Y-m-d' }}"><br>
            <select class="form-control" name="status">
                <option value="open" {% if deal.status == 'open' %}selected{% endif %}>Открыта</option>
                <option value="won" {% if deal.status == 'won' %}selected{% endif %}>Выиграна</option>
                <option value="lost" {% if deal.status == 'lost' %}selected{% endif %}>Проиграна</option>
            </select>
            <input type="text" placeholder="Source" class="form-control" name="source" value="{{ deal.source }}"><br>
            <input type="text" placeholder="field_1" class="form-contro_l" name="custom_field_1" value="{{ deal.field_1 }}"><br>
            <input type="text" placeholder="field_2" class="form-contro_2" name="custom_field_2" value="{{ deal.field_2 }}"><br>
            <span>{{ error }}</span>
          <button class="btn btn-success text-teal-950" type="submit">Добавить</button>
      </form>
      <a class="close" href="#">&times;</a>
    </div>    
</div>

{% for deal in deals %}
<div id="popup2{{ deal.id }}" class="overlay">
    <div class="popup">
        <form method="post" action="{% url 'deal:update_deal' deal.id %}">
            {% csrf_token %}
            <br>
            <input type="text" placeholder="Name" class="form-control" name="deal_label" value="{{ deal.deal_label }}"><br>
            <textarea placeholder="Message" class="form-control" name="deal_message">{{ deal_message }}</textarea><br>
            <input type="date" class="form-control" name="end_date" value="{{ deal.end_date|date:'Y-m-d' }}"><br>
            <input type="date" class="form-control" name="created_at" value="{{ deal.created_at|date:'Y-m-d' }}"><br>
            <select class="form-control" name="status">
                <option value="open" {% if deal.status == 'open' %}selected{% endif %}>Открыта</option>
                <option value="won" {% if deal.status == 'won' %}selected{% endif %}>Выиграна</option>
                <option value="lost" {% if deal.status == 'lost' %}selected{% endif %}>Проиграна</option>
            </select>
            <input type="text" placeholder="Source" class="form-control" name="source" value="{{ deal.source }}"><br>
            <input type="text" placeholder="field_1" class="form-contro_l" name="custom_field_1" value="{{ deal.field_1 }}"><br>
            <input type="text" placeholder="field_2" class="form-contro_2" name="custom_field_2" value="{{ deal.field_2 }}"><br>
            <span>{{ error }}</span>
            <button class="btn btn-success text-teal-950" type="submit">Изменить</button>
        </form>

        <form method="post" action="{% url 'deal:delete_deal' deal.id %}">  
            {% csrf_token %}
            <button  class="btn btn-danger absolute right-0 bottom-0 mb-4 mr-4">Удалить</button> <!-- тут вызов окна удаления -->
        </form>
        <a class="close" href="#">&times;</a>
    </div>    
</div>
{% endfor %}

<script>
    // Скрпит поиска

    const searchInput = document.getElementById('search-input'); // Поле ввода для поиска
    const rows = document.querySelectorAll('.table-hover tr'); // Все строки таблицы

    // Добавление обработчика события "input" для поля поиска
    searchInput.addEventListener('input', () => {
        const searchTerm = searchInput.value.trim().toLowerCase(); // Получение текста поиска без пробелов в начале и конце, перевод в нижний регистр
    
        // Перебор всех строк таблицы
        rows.forEach(row => {
            let rowContainsSearchTerm = false; // Флаг, указывающий, содержит ли строка текст поиска
            
            // Перебор всех ячеек в текущей строке
            row.querySelectorAll('td').forEach(cell => {
                const cellText = cell.textContent.toLowerCase(); // Текст текущей ячейки
                if (cellText.includes(searchTerm)) { // Если текст ячейки содержит текст поиска
                    rowContainsSearchTerm = true; // Установить флаг в true
                }
            });
            
            // Отобразить или скрыть строку в зависимости от флага
            if (rowContainsSearchTerm) {
                row.style.display = 'table-row'; // Отобразить строку
            } else {
                row.style.display = 'none'; // Скрыть строку
            }
        });
    });
</script>
{% endblock content %}