{% extends "index.html" %}
{% load static %}

{% block title %}
  Contacts list
{% endblock %}

{% block content %}
<div class="flex-1 py-2 px-2">
    {% include 'search.html' %}

    <table class="w-full rounded-md border-collapse border bg-white shadow-md">
      <thead>
          <tr class="text-xs font-sans text-center whitespace-nowrap">
                <th class="border px-2 py-2">
                    <div class="flex-1 items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">Select</label>
                    </div>
                </th>
                <th class="border px-4 py-2">ID</th>
                <th class="border px-4 py-2">First Name</th>
                <th class="border px-4 py-2">Last Name</th>
                <th class="border px-4 py-2">Email</th>
                <th class="border px-4 py-2">Phone</th>
                <th class="border px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr class="text-sm font-sans text-center whitespace-nowrap">
                <td class=" border px-2 py-2">
                    <div>
                      <input name="leads-ch" value="{{ lead.id }}" id="checkbox-table-search-{{ lead.id }}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <td class="border px-2 py-2">{{ contact.id }}</th>
                <td class="border px-2 py-2">{{ contact.first_name }}</td>
                <td class="border px-2 py-2">{{ contact.last_name }}</td>
                <td class="border px-2 py-2">{{ contact.email }}</td>
                <td class="border px-2 py-2">{{ contact.phone }}</td>
                <td class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <a href="{% url 'contact_detail' contact.id %}">
                        <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-md text-sm px-5 py-2.5 text-center mr-2 mb-2">
                            View
                        </button>
                    </a>
                    <a href="{% url 'contact_delete' contact.id %}">
                        <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-md text-sm px-5 py-2.5 text-center mr-2 mb-2">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
