{% extends "index.html" %}
{% load static %}

{% block title %}
  Deals list
{% endblock %}

{% block content %}
<div class="flex-1 py-2 px-2">
    {% include 'search.html' %}

    <table class="w-full rounded-md border-collapse border bg-white shadow-md">
      <thead>
          <tr class="text-xs font-sans text-center whitespace-nowrap">
                <th class="border px-2 py-2">
                    <div class="flex-1 items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">Select</label>
                    </div>
                </th>
                <th class="border px-2 py-2">Label</th>
                <th class="border px-2 py-2">Message</th>
                <th class="border px-2 py-2">End date</th>
                <th class="border px-2 py-2">Date</th>
                <th class="border px-2 py-2">Status</th>
                <th class="border px-2 py-2">Source</th>
                <th class="border px-2 py-2">field-1</th>
                <th class="border px-2 py-2">field-2</th>
            </tr>
        </thead>    
        <tbody class="table-hover">
            {% for deal in deals %}
            <tr class="text-sm font-sans text-center whitespace-nowrap hover:bg-gray-400">
                <td class=" border px-2 py-2">
                    <div>
                      <input name="leads-ch" value="{{ lead.id }}" id="checkbox-table-search-{{ lead.id }}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                  </td>
                <td class="border px-2 py-2">{{ deal.deal_label }}</td>
                <td class="border px-2 py-2">{{ deal.deal_message }}</td>
                <td class="border px-2 py-2">{{ deal.end_date }}</td>
                <td class="border px-2 py-2">{{ deal.created_at }}</td>
                <td class="border px-2 py-2">{{ deal.status }}</td>
                <td class="border px-2 py-2">{{ deal.source }}</td>
                <td class="border px-2 py-2">{{ deal.custom_field_1 }}</td>
                <td class="border px-2 py-2">{{ deal.custom_field_2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock content %}