{% extends "index.html" %}
{% load static %}

{% block title %}
  Leads list
{% endblock %}

{% block content %}
  <div class="relative rounded-md px-2 py-2 mt-2">
    <table class="w-full text-xs text-left text-neutral-900 dark:text-neutral-300">
      <thead class="bg-sky-900 dark:bg-neutral-900 text-neutral-300 text-center px-2 py-2 uppercase">
        <tr class="font-sans">
          <th>
            <div class="flex items-center px-6">
              <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="checkbox-all-search" class="sr-only">checkbox</label>
            </div>
          </th>
          <th>Lead ID</th>
          <th>Product name</th>
          <th>Customer</th>
          <th>Email</th>
          <th>Source</th>
          <th>Contact Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for lead in leads %}
          <tr class="border-b border-neutral-300 dark:border-b-2 border-gray-100 text-neutral-900 dark:text-neutral-300 bg-neutral-200 dark:bg-neutral-800 dark:border-neutral-700 hover:bg-neutral-400 dark:hover:bg-neutral-600">
            <td class="w-4 p-4">
              <div class="flex items-center">
                <input name="leads-ch" value="{{ lead.id }}" id="checkbox-table-search-{{ lead.id }}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
              </div>
            </td>
            <td class="text-center">{{ lead.pk }}</td>
            <td class="text-center">{{ lead.product }}</td>
            <td class="text-center">{{ lead.first_name }} {{ lead.last_name }}</td>
            <td class="text-center">{{ lead.email }}</td>
            <td class="text-center">{{ lead.source }}</td>
            <td class="text-center">{{ lead.contact_date }}</td>
            <td class="text-center">
              <a href="{% url 'lead_detail' lead.id %}">
                <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center mr-2 mb-2">
                  View
                </button>
              </a>
              <a href="#">
                <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center mr-2 mb-2">
                  Delete
                </button>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="pagination flex justify-center py-2">
    <!-- Add your pagination content here -->
  </div>
{% endblock %}
