{% extends 'index.html' %}

{% block content %}
<div class="py-10">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <h1 class="text-3xl font-bold mb-4">{{ lead.first_name }} {{ lead.last_name }}</h1>
                <p class="mb-4">Product: {{ lead.product }}</p>
                <p class="mb-4">Email: {{ lead.email }}</p>
                <p class="mb-4">Phoned: {{ lead.phoned }}</p>
                <p class="mb-4">Contact Date: {{ lead.contact_date }}</p>
                <p class="mb-4">Company: {{ lead.company }}</p>
                <p class="mb-4">Notes: {{ lead.notes }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
