{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'checkbox.js' %}"></script>
    <script src="{% static 'kanban.js' %}"></script>
    <script src="https://unpkg.com/gojs@2.3.11/release/go.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="font-sans bg-gray-100">
    {% if user.is_authenticated %}
    <div x-data="{ sidebarOpen: true }" class="flex overflow-x-hidden h-screen">
        
        
        <div class="flex-shrink-0 w-35 flex flex-col border-r transition-all duration-300" :class="{ '-ml-35': !sidebarOpen }">
            <div class="p-2 flex items-center justify-between">
                <a href="{% url 'index' %}" class="flex items-center text-2xl font-semibold text-blue-500">
                    <img class="w-8 h-8 mr-2"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="CRM360 Logo">
                    CRM360
                </a>

            </div>
            <div class="pl-4">
                <div class="flex-1 justify-between pr-4 py-4">
                    <a href="{% url 'index' %}" class="text-gray-700 mb-2">
                        {{ request.user.first_name }}
                        {{ request.user.last_name }}
                    </a>
                </div>
                <ul class="space-2">
                    <li><a href="{% url 'leads' %}" class="text-gray-600 hover:underline">Leads</a></li>
                    <li><a href="{% url 'organizations' %}" class="text-gray-600 hover:underline">Organizations</a>
                    </li>
                    <li><a href="{% url 'contacts' %}" class="text-gray-600 hover:underline">Contacts</a></li>
                    <li><a href="{% url 'deal:index' %}" class="text-gray-600 hover:underline">Deals</a></li>
                    <li><a href="{% url 'products' %}" class="text-gray-600 hover:underline">Products</a></li>
                </ul>
            </div>
            <div class="pl-4 py-8">
                <a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?')">
                    <button class="font-sans bg-red-600 text-white text-sm px-2 py-2 rounded-md">Logout</button>
                </a>
            </div>
        </div>
        {% block content %}
        
        {% endblock %}
 

    </div>
    {% else %}

    {% include 'login_page.html' %}

    {% endif %}
</body>

</html>
