<nav class="flex items-center text-semibold text-gray-100 bg-blue-600 dark:bg-blue-800 rounded-md shadow-gray-400 shadow-md">
      <div class="relative flex py-2 h-10 items-center text-gray-100 justify-start text-center">
        <button class="pl-2 mr-4" @click="sidebarOpen = !sidebarOpen">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
</nav>